#inProgres {
  display: grid;
  grid-template-columns: auto;
}

.taskDivs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  font-size: 20px;
}

.divBtn {
  margin: 20px 20px 20px 20px;
}

.tasks {
  margin: 0;
  display: flex;
  justify-content: start;
  grid-area: 5px;
}
